body{
    font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
<<<<<<< HEAD
    background: rgb(17, 17, 17);
=======
    background: #000000;
    margin: 0px;
>>>>>>> 489688e10e85406cd64301ceeed14b415474bacb
}


nav{
    position: fixed;
    top: 0px;
    left: 0px;
    height: 135px;
    width: 100%;
    background: #000 url(https://www.nasa.gov/sites/all/themes/custom/nasatwo/images/starfield-banner.jpg);
<<<<<<< HEAD
    margin: auto;
    padding: 10px;
=======
>>>>>>> 489688e10e85406cd64301ceeed14b415474bacb
    z-index: 1;
}

#navDiv {
    height: 120px;
    width: 100%;
}

main {
    height: 1200px;
    width: 100%;
}

.Logo {
    position:absolute;
    height: 100%;
}

.Logo img {
    height: 85%;
}

.searchButton {
    background: url(https://www.nasa.gov/sites/all/themes/custom/nasatwo/images/search.svg) center center no-repeat;
}

.Share a{
    background-image: url(https://www.nasa.gov/sites/all/themes/custom/nasatwo/images/share.svg);
    background-size: 30px;
    background-repeat: no-repeat;
    background-position: center;
    width: 25px;
    display: flex;
    padding: 0;
    margin: 0;
    height: 22px;
    float: left;
}

form {
    float: left;
}


.TopNav1 {

    width: fit-content; 
    margin: auto;
    padding: 12px;


}

 .TopNav1 li+li { border-left: 1px solid #ffffff }


.Search{
    display: flex;
    width:fit-content;
    flex-direction: row;
    margin:20px;
    float: right;
}

.TopNav2{
    background-color: #333333;
   

    position: absolute;
    left:50%;
    bottom:0px;
    transform:translate(-50%,-50%);
    margin-top:1px;
    padding-bottom: 0px;
    margin-bottom: 0px;

    /* display: flex;
    justify-content: center; */

}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li{
    float: left;
}

li a {
    color: white;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: block;
}




.articles {
    position: absolute;
    top: 165px;
    left: 250px;
    display: flex;
    height: auto;
    width: 1020px;
    flex-wrap: wrap;
    align-content: space-between;
    background-color: black;
    align-self: center;
  }
  
  .articles > div {
    background-color: #f1f1f1;
    width: 300px;
    height: 300px; 
    margin: 10px;
    padding: 10px;
    font-size: 14px;
  }
